<header class="site-header sticky-top py-1">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <a class=" py-2" href="/index" aria-label="Product">
      <span class="input-group">
      <i class="fas fa-user-graduate fa-2x mx-auto"></i>
      </span>
    </a>
    <a class="py-2 d-none d-md-inline-block" href="/index">Home</a>
    <a class="py-2 d-none d-md-inline-block" href="/page2">English Games</a>
    <!-- <a class="py-2 d-none d-md-inline-block" href="/pricing">Pricing</a> -->
    <a class="py-2 d-none d-md-inline-block" href="/login">Sign In</a>
    <a class="py-2 d-none d-md-inline-block" href="/aboutus">Contact Us</a>
  </nav>
</header>
