<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Game Album</title>

<link rel="icon" href="images/favicon.png">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <!-- Bootstrap core CSS -->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="css/page2.css">



  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


</head>

<body>

<%- include('header_index') %>


  <main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Our Modules</h1>
          <p class="lead font-weight-bold">Module 1 and 2: Basic English: Learning Alphabets, Vocabulary , Listening and Phonics.                               学简单的拼写，词汇，听力，拼读。                            Module 3-5: Increasing difficulty in level for Listening, Vocabulary and Phonics.                                 加深拼写，拼读，，听力，自然拼读-150字以上。  Module 6-8: Practise forming sentence using simple vocabulary and words                                     开始学句子。怎把学到的字练为句子。                    Module 9-10: Practise proper grammar into sentences. 学基础的语法.
            </p>
            <a href="/login" class="btn btn-primary my-2">Log In</a>
            <a href="/register" class="btn btn-secondary my-2">Sign Up</a>
          </p>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img width="100%" height="225" src="images/module1.jpg" alt="">

              <div class="card-body">
                <p class="card-text">Module 1, 首两个流程：学简单的拼写，词汇，听力，自然拼读---50 字以上.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <form class="" action="/page3" method="post">
                      <button type="submit" class="btn btn-sm btn-outline-secondary">Let's Start</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img width="100%" height="225" src="/images/module2.jpg" alt="">


              <div class="card-body">
                <p class="card-text">Module 2</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Coming Soon</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img width="100%" height="225" src="/images/module3.jpg" alt="">


              <div class="card-body">
                <p class="card-text">Module 3</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Coming Soon
</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img width="100%" height="225" src="/images/module4.jpg" alt="">


              <div class="card-body">
                <p class="card-text">Module 4</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Coming Soon</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img width="100%" height="225" src="/images/module5.jpg" alt="">


              <div class="card-body">
                <p class="card-text">Module 5</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Coming Soon</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img width="100%" height="225" src="/images/module6.jpg" alt="">


              <div class="card-body">
                <p class="card-text">Module 6</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Coming Soon</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img width="100%" height="225" src="/images/module7.jpg" alt="">


              <div class="card-body">
                <p class="card-text">Module 7</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Coming Soon</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img width="100%" height="225" src="/images/module8.jpg" alt="">


              <div class="card-body">
                <p class="card-text">Module 8</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Coming Soon</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img width="100%" height="225" src="/images/module9.jpg" alt="">


              <div class="card-body">
                <p class="card-text">Module 9</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Coming Soon</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

  <%- include('footer_index') %>
