body {
    height: 70vh;
}
/*CLOUDS*/
 .sky {
	 position: relative;
}
 .cloud {
	 margin: 5% 0 0 100%;
	 position: relative;
}
 .cloud:before, .cloud:after {
	 position: absolute;
	 content: '';
}
 .cloud, .cloud:before, .cloud:after {
	 background: #fff;
	 border-radius: 50%;
	 border: 25px solid #fff;
	 width: 0.5%;
	 overflow: visible;
}
 .cloud:before {
	 top: -35px;
	 right: -60px;
	 border-width: 30px;
}
 .cloud:after {
	 bottom: -25px;
	 right: -95px;
	 border-width: 28px;
}
 .sky .cloud:nth-child(1) {
	 -webkit-animation: wind 80s infinite;
	 animation: wind 80s infinite;
}
 .sky .cloud:nth-child(2) {
	 -webkit-animation: wind 150s infinite;
	 animation: wind 150s infinite;
}
 .stage:after {
	 content: ' ';
	 position: relative;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 border-top: 3px solid #205c6b;
	 border-bottom: 3px dashed #205c6b;
}

 @-webkit-keyframes wind {
	 0% {
		 right: 0;
	}
	 100% {
		 right: 110%;
	}
}
 @keyframes wind {
	 0% {
		 right: 0;
	}
	 100% {
		 right: 110%;
	}
}




html, body {

}
 body {
	 background: linear-gradient(to right, #56ccf2, #2f80ed);
}


 .toy-train {
	 position: absolute;
	 left: 50%;
	 bottom: 7%;
	 margin-left: -200px;
	 width: 400px;
	 transform: scale(2);
}




@media (max-width: 1040px) {
     .toy-train {
	 position: absolute;
	 bottom: 1px;

	 transform: scale(1);
}

}

@media (max-width: 560px) {

     .toy-train {

	 position: absolute;
	 bottom: 1px;
	 transform: scale(0.5);


     }


}

 .engine {
	 float: right;
	 position: relative;
   right: 25px;
}
 .window {
	 height: 28px;
	 width: 30px;
	 background-color: #194488;
	 position: relative;
	 border: 3px solid #000;
}
 .window:before, .window:after {
	 content: "";
	 position: absolute;
	 left: 50%;
	 border: 3px solid #000;
}
 .window:before {
	 height: 7px;
	 background-color: #f82510;
	 width: 45px;
	 margin-top: -13px;
	 margin-left: -26px;
	 border-radius: 8px;
}
 .window:after {
	 margin-left: -8px;
	 margin-top: 3px;
	 border-radius: 50%;
	 height: 11px;
	 width: 11px;
	 background-color: #fff;
}
 .engine-main {
	 height: 10px;
	 width: 35px;
	 border: 3px solid #000;
	 background-color: #3d9a01;
	 position: absolute;
	 border-radius: 0 8px 8px 0;
	 right: -41px;
	 bottom: -3px;
}
 .engine-main:before {
	 content: "";
	 height: 10px;
	 width: 8px;
	 background-color: #000;
	 position: absolute;
	 top: -11px;
	 left: 4px;
	 transform: rotate(180deg);
	 border-radius: 50% 50% 50% 50% / 90% 90% 40% 40%;
}
 .engine-main:after {
	 content: "";
	 height: 12px;
	 width: 8px;
	 position: absolute;
	 display: block;
	 right: 5px;
	 top: -18px;
	 border-radius: 50% 50% 50% 50% / 90% 90% 40% 40%;
	 transform: rotate(180deg);
	 z-index: -1;
	 background-color: #194488;
	 border: 3px solid #000;
}
 .engine-body {
	 height: 17px;
	 width: 75px;
	 position: absolute;
	 left: -2px;
	 top: 30px;
	 background-color: #f69f00;
	 border: 3px solid #000;
	 border-radius: 5px;
}
 .engine-body .big-wheel {
	 top: 3px;
	 left: 2px;
}
 .engine-body .normal-wheel {
	 left: 45px;
	 top: 5px;
}
 .engine-body:before {
	 content: "";
	 position: absolute;
	 height: 5px;
	 width: 5px;
	 left: -11px;
	 bottom: 2px;
	 z-index: -1;
	 background-color: #fff;
	 border-radius: 50%;
	 border: 3px solid #000;
}
 .wheels > div {
	 position: absolute;
	 background-color: #f82510;
	 border-radius: 50%;
	 border: 3px solid #000;
	 animation: wheel-rotate 1s linear infinite;
}
 .wheels > div:before {
	 content: "";
	 position: absolute;
	 width: 100%;
	 border-bottom: 1px solid #000;
	 top: 50%;
	 margin-top: -1px;
}
 .wheels > div:after {
	 content: "";
	 height: 8px;
	 width: 8px;
	 position: absolute;
	 background-color: #000;
	 border-radius: 50%;
	 left: 50%;
	 top: 50%;
	 margin-left: -4px;
	 margin-top: -4px;
}
 .wheels .big-wheel {
	 width: 22px;
	 height: 22px;
	 animation-delay: -0.3s;
}
 .wheels .normal-wheel {
	 height: 20px;
	 width: 20px;
	 animation-delay: -0.6s;
}
 .locomotive {
	 height: 35px;
	 width: 60px;
	 border: 3px solid #000;
	 background-color: #f69f00;
	 border-radius: 5px;
	 position: relative;
	 float: left;
	 margin-top: 13px;
}
 .locomotive:before {
	 content: "";
	 width: 100%;
	 background: linear-gradient(to right, #000 0%, #000 8%, #f69f00 8%, #f69f00 15%, #000 15%, #000 28%, #000 34%, #f69f00 34%, #f69f00 65%, #000 65%, #000 65%, #000 100%);
	 height: 3px;
	 position: absolute;
	 top: 6px;
	 left: 0;
}
 .locomotive:after {
	 content: "";
	 width: 100%;
	 background: linear-gradient(to right, #000 0%, #000 24%, #f69f00 24%, #f69f00 65%, #f69f00 65%, #000 65%, #000 85%, #f69f00 85%, #f69f00 90%, #000 90%, #000 100%);
	 height: 3px;
	 position: absolute;
	 top: 14px;
	 left: 0;
}
 .locomotive .wheels > div {
	 top: 22px;
	 animation-delay: -0.6s;
}
 .locomotive .wheels > div:first-child {
	 animation-delay: -0.9s;
}
 .locomotive .normal-wheel:first-of-type {
	 left: 2px;
}
 .locomotive .normal-wheel:last-of-type {
	 right: 2px;
}

 .tracks {
   position: relative;
  width: 450px;
  bottom: -10px;
  overflow: hidden;
  height: 3px;
}

 .tracks span {

	 display: inline-block;
	 height: 20px;
	 width: 300px;
	 position: absolute;
	 left: 600px;
	 background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 39%, rgba(0, 0, 0, 1) 39%, rgba(0, 0, 0, 1) 61%, rgba(0, 0, 0, 1) 65%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 71%, rgba(0, 0, 0, 1) 100%);
	 animation: track 3s linear infinite;
	 animation-fill-mode: forwards;
}
 .tracks span:nth-child(2) {
	 animation-delay: -1s;
}

 .smokes:before, .smokes:after, .smokes span:before {
	 display: block;
	 content: "";
	 height: 8px;
	 width: 8px;
	 background-color: #fff;
	 border-radius: 50%;
	 position: absolute;
	 right: 8px;
	 top: 15px;
	 z-index: -1;
}
 .smokes:before {
	 animation: smoke 1s linear infinite;
}
 .smokes span:before {
	 animation: smoke 1s linear infinite;
	 animation-delay: -0.6s;
}
 .smokes:after {
	 animation: smoke 1s linear infinite;
	 animation-delay: -0.3s;
}
 @keyframes smoke {
	 100% {
		 top: -50px;
		 opacity: 0.5;
	}
}
 @keyframes wheel-rotate {
	 100% {
		 transform: rotate(360deg);
	}
}
 @keyframes track {
	 100% {
		 left: -200px;
	}
}

.box1 {
  position: absolute;
	top: 30%;
	left: 45%;
  display: inline-block;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
 -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
 box-shadow:         3px 3px 5px 6px #ccc;
}

.glowing-box {

  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: inline-block;
  border-radius: 15px;
  background-color: #fff;
  top: 30%;
	left: 45%;
  box-shadow:
    inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 80px #f0f,   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px #f0f,  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */

}


#answer-box {
  text-align: center;
  height: 150px;
  width: 150px;
}

@media (max-width:560px ) {
   #answer-box {
  text-align: center;
  height: 50px;
  width: 50px;
}

.box1 {
  position: absolute;

  width: 50px;
  height: 50px;

}
}

@media (max-width: 1040px ) {
     #answer-box {
  text-align: center;
  height: 100px;
  width: 100px;
}

.box1 {
  position: absolute;

  width: 100px;
  height: 100px;

}
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}


.droptarget {
  width: 150px;
  height: 150px;
  position: absolute;
  margin: auto;
}

.alphabets {
  height: 35px;
  width: 50px;
  position: absolute;
  top: -28px;
  border: 3px solid $black-shade;
  background-color: $green-shade;
  border-radius: 50%;
  left: 2px;
  z-index: -3;
}



.repeat {
  position: absolute;
  right: 40px;
  top: 40px;
}

.game-buttons {
  padding-top: 20px;
  width: 60px;
  height: 60px;
  margin: 10px;
  transition: transform .2s
}

.game-buttons:hover {
  transform: scale(1.5);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.game-controls {


  position: absolute;
  top: 0px;
  right: 10px;

}

@media (max-width: 1040px) {
    .game-buttons  {
  width: 1.831rem;
  height: 3rem;
  right: 10px;
    }
}

@media (max-width: 560px) {
    .game-buttons  {
  width: 1rem;
  height: 2rem;
}
}




.cake-hidden {
  width: 3.831rem;
  height: 5rem;
}

@media (max-width: 1040px) {
    .cake-hidden {
  width: 1.831rem;
  height: 3rem;
}
}

@media (max-width: 560px) {
    .cake-hidden {
  width: 1rem;
  height: 2rem;
}
}



 canvas {
     position:absolute;
     top:0;
     left:0;
 }



 .spinner-wrapper{
     width: 100%;
     height: 100%;
     background-color: #151515;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 9999;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .spinner {
     position: relative;
     width: 8rem;
     height: 8rem;
     border-radius: 50%;
 }

 .spinner::before,
 .spinner:after{
     content: "";
     position: absolute;
     border-radius: 50%;
 }

 .spinner:before {
     width: 100%;
     height: 100%;
     background-image:linear-gradient(90deg, #ff00cc 0%,#333399 100% );
     animation: spin .5s infinite linear;
 }
 .spinner:after {
     width: 90%;
     height: 90%;
     background-color: #151515;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 @keyframes spin {
     to {
         transform: rotate(360deg);
     }

 }
