.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}


body {

    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    background-size: cover;
    background-repeat: no-repeat;



}





.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}


.card {
  display: grid;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  text-align: center;

  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
}

.card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.Squirtle-image {
    width: 225px;
    left:25px;

}

.tree-image {
  background: url("tree.png");
  width: 225px;
}

.cocoa-image {
  height: 200px;
  width: 200px;
  left:25px;
}

.cold-image {

  height: 200px;
  width: 200px;
  left:25px;

}

.next-page-link {
  margin-left: 50%;
}

.next-icon {
  margin-top: 40px;
  margin-bottom: 40px;
}

.next-icon:hover {
transform: scale(1.15);
}

@media (max-width: 1024px) {
  .next-icon {
    width: 80px;
    height: 60px;

  }

  .next-page-link {
    margin-left: 45%;
  }


}


@media (max-width: 560px) {
  .next-icon {
    width: 80px;
    height: 60px;


  }

  .next-page-link {
    margin-left: 40%;
  }

}


.spinner-wrapper{
    width: 100%;
    height: 100%;
    background-color: #151515;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.spinner::before,
.spinner:after{
    content: "";
    position: absolute;
    border-radius: 50%;
}

.spinner:before {
    width: 100%;
    height: 100%;
    background-image:linear-gradient(90deg, #ff00cc 0%,#333399 100% );
    animation: spin .5s infinite linear;
}
.spinner:after {
    width: 90%;
    height: 90%;
    background-color: #151515;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }

}
